doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1=title
    .row
      .small-7.columns &nbsp;
      .small-3.columns
        a.button.small.radius(href='/albums') View by Albums
      .small-2.columns
        button.small.radius#toggle Add Album
    .row
      .small-12.columns
        form.hide#hidden(action='/albums', method='post',enctype='multipart/form-data')
          fieldset
            legend New Album
            .row
              .small-2.columns
                label Artist
                input(type='text', name='artist')
              .small-2.columns
                label Album Title
                input(type='text', name='title')
              .small-2.columns
                label Genre
                input(type='text', name='genre')
              .small-2.columns
                label Release Year
                input(type='text', name='year')
              .small-2.columns
                label Album Art
                input(type='file', name='cover')
              .small-2.columns
                label &nbsp;
                button.small.radius Add Album
    .row
      .small-12.columns
        each song in songs
          .songs
            .title= song.title
            .artist= song.artist
            .album= song.album
              audio(controls='controls', src= song.file)

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

